<h1>Login to Fwitter</h1>
<form action="/login" method="post">
    <label>Username: </label><input type="text" id = "username" name="username">
    <label>Password: </label><input type="text" name="pasword">
    <input type="submit" value="submit">
</form>